<!DOCTYPE html>
<html>
<head>
<style>
.container {
  /* height: 100%; */
  width: 100%;
  display: flex;
}
.leftThing {
  width: 26%;
  height: 815px;
  border-style: solid;
  border-radius: 5px;
  padding:10px
}
.rightThing {
  margin-left:2px;
  width: 80%;
  height: 100%;
}
.rightContent {
  height: 33%;
  border-style: solid;
  border-radius: 5px;
  padding:10px;
  margin-bottom:5px;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.chart {
    max-width:520px;
    max-height: 500px;
    background: lightgray;
    margin: 35px auto;
}
.default {
    margin: 0px;
    font-size:15px
}
.logo {
    /* width: 320px; */
    height: 230px;
    padding-top: 80px;
}
.margin{
    margin: 100px 5px 0px 0px;
}
.margin_left_5{
    margin-left: 5px;
}
.custom_btn {
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
    width: 90px;
    height: 40px;
}
.custom_btn:hover {
    background-image: linear-gradient(315deg, #89d8d3 0%, #024338 74%);
}

.center{
    margin: 0 auto;
}

.detail{
    display: flex;
    margin-left: 150px;
    margin-top: -17px;
}
</style>
</head>
<body onload="load()">
<div class='container'>
      	<div class="leftThing">
            <p class="default" style="text-align: center;font-size: 20px;"> 
                <b>Vehicle</b> 
            </p>
            <p class="default"><b>- Vehicle</b></p>
        	<ul class="default" style="padding-left: 20px;">
                <li>Charge <p id="Vehicle_Charge" class="default detail">. </p></li>
                <li>Gear<p id="Vehicle_Gear" class="default detail">. </p></li>
                <li>Odometer<p id="Vehicle_Odermeter" class="default detail"> Km</p></li>
                <li>Speed<p id="Vehicle_Speed" class="default detail"> Km/h</p></li>
            </ul>
            
            <br>
            <p class="default"><b>- Motor</b></p>
        	<ul class="default" style="padding-left: 20px;">
                <li>Status<p id="Motor_Status" class="default detail">. </p></li>
                <li>Temperature<p id="Motor_Temperature" class="default detail"> &#176;C</p></li>
                <li>RPM<p id="Motor_Speed" class="default detail"> RPM</p></li>
                <li>Required current<p id="Motor_Required" class="default detail"> A</p></li>
            </ul>
            
            <br>
            <p class="default"><b>- Battery</b></p>
        	<ul class="default" style="padding-left: 20px;">
                <li>Status<p id="Battery_Status" class="default detail">. </p></li>
                <li>SOC<p id="Battery_SOC" class="default detail"> %</p></li>
                <li>Temperature<p id="Battery_Temperature" class="default detail"> &#176;C</p></li>
                <li>Voltage<p id="Battery_Voltage" class="default detail"> V</p></li>
            </ul>
            <img class="logo show center" src="{{ url_for('get_logo') }}" id="logo"/>

            <div class="container margin">
                <input class="margin_left_5 custom_btn" type="button" onclick="get_webcam_server();" value="Start" name="status" id="btn_webcam_server"/>
                <input class="margin_left_5 custom_btn" type="button" value="Start Client" onclick="get_webcam_client();" id="btn_webcam_client"/>
                <input class="margin_left_5 custom_btn" type="button" value="File" onclick="get_file_video();" id="btn_get_file"/>
                <input type="file" class="hidden" id="video_file" onclick="this.value=null;"/>
                <input class="margin_left_5 custom_btn" type="button" value="Predict" id="predict" onclick="predict();"/>
            </div>
            
        </div>
	<div class="rightThing">
     	<div class="rightContent">
            <p id="title" class="show default" style="text-align: center;font-size: 20px;font-family: 'Comic Sans MS';color: green;margin-bottom: 15px;">MULTITASKING FOR AUTOMONOUS</p>
        	<img class="hidden center" src="" width="700px" height="400px" id="img_server" />
            <video class="hidden center" id="video" width="700px" height="400px" onended="end_video();" autoplay controls multiple></video>
            <canvas class="hidden center" id="canvas" width="700px" height="400px"></canvas>
            <image class="hidden center" src="" id = "photo" width="700px" height="400px" />
      	</div>
        <div class="rightContent" style="height:342px;" >
            <div class="container">
                <canvas id="lidar" class="chart hidden"></canvas>
                <canvas id="speed" class="chart hidden"></canvas>

            </div>
      	</div>
        
     </div>
    </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>

    var data = '{{ data|tojson }}';
	data = data.replace(/\s/g, '');
	data = data.replace(/\\/g, '/');
	data = JSON.parse(data);

    var is_webcam_server = false;
    var is_webcam_client = false;
    var is_file_client = false;


    var is_predict_client = false;

    var localstream;

    function get_webcam_server(){
        let img_server = document.getElementById("img_server");
        
        $.ajax({
            url: "/get_webcam", 
            type: "POST",
            dataType: "json", 
            cache: false,
            success: function(res){
                if(res.show_webcam){
                    changeClass(img_server, "hidden","show");

                    img_server.setAttribute("src","{{ url_for('video_feed') }}");
                    document.getElementById("btn_webcam_server").setAttribute("value","Stop");
                    is_webcam_server = true;
                }else{
                    changeClass(img_server, "show","hidden");
                    img_server.setAttribute("src","");
                    document.getElementById("btn_webcam_server").setAttribute("value","Start");
                    document.getElementById("predict").setAttribute("value","Predict");
                    is_webcam_server = false;
                }
            },
            error: function(error){
                // console.log(error)
                console.log("Error")
                console.log(error)
            }
        });
    }

    async function get_webcam_client(){
			let video = document.getElementById('video');
			let btn_webcam_client = document.getElementById("btn_webcam_client");
			let v = btn_webcam_client.getAttribute("value");
			let canvas = document.getElementById("canvas");

            is_webcam_client = !is_webcam_client;
            
			if(is_webcam_client){
				let stream;
				if(window.outerWidth < window.outerHeight){
					stream = await navigator.mediaDevices.getUserMedia(
                        { video: {facingMode: {exact: "environment",}
					}});
				}else{
					stream = await navigator.mediaDevices.getUserMedia(
                        { video: {facingMode: "user"}});
				}
				video.srcObject = stream;
				localstream = stream;
                changeClass(video, "hidden", "show");
				btn_webcam_client.setAttribute("value","Stop Client")
			}else{
                localstream.getTracks()[0].stop();
				video.pause();
				video.src = "";
				btn_webcam_client.setAttribute("value","Start Client");
                is_predict_client = false;
				document.getElementById("predict").setAttribute("value","Predict")
                changeClass(video, "show", "hidden");
			}
		}

    function predict(){
        let btn_predict = document.getElementById("predict");
        if(is_webcam_server){
            $.ajax({
                url: "/predict_server", 
                type: "POST",
                dataType: "json", 
                cache: false,
                success: function(res){
                if(res.predict){
                    btn_predict.setAttribute("value","Predicting\n Server")
                }else{
                    btn_predict.setAttribute("value","Predict")
                }
            },
            error: function(error){
                // console.log(error)
                console.log("Error")
                console.log(error)
            }
            });
        }else if(is_webcam_client || is_file_client){
            is_predict_client = !is_predict_client;
            if (is_predict_client){
                btn_predict.setAttribute("value","Predicting\n Client");
                send_image();
            }else{
                btn_predict.setAttribute("value","Predict");
            }
        }
    }

    function changeClass(component, remove_class, target_class){
        component.classList.remove(remove_class);
        component.classList.add(target_class);
    }

    function load(){
        visualize_lidar();
        visualize_speed();
        show_details();
    }

    var chart_lidar;
    var chart_speed;
    var is_visualize_lidar = true;
    var is_visualize_speed = true;

	function visualize_lidar(){
        let chart = document.getElementById("lidar");
        chart.classList.remove("hidden");
        chart.classList.add("show");
        get_data_to_visualize_lidar();
    }   

	function visualize_speed(){
        let chart = document.getElementById("speed");
        chart.classList.remove("hidden");
        chart.classList.add("show");
        get_data_to_visualize_speed();
    }   

    function get_data_to_visualize_lidar(){
		$.ajax({
            url: "/visualize_lidar", 
            type: "POST",
            dataType: "json", 
            cache: false,
            success: function(res){
                if(chart_lidar){
                    chart_lidar.destroy();
                }
                if(is_visualize_lidar){
                    // console.log(res.data)
                    chart_lidar = new Chart("lidar", {
                    type: "scatter",
                    data: {
                        datasets: [{
                        pointRadius: 4,
                        pointBackgroundColor: "rgb(0,0,255)",
                        data: res.data,
                        }]
                    },
                    options: {
                        legend: {display: false},
                        scales: {
                        xAxes: [
                            {ticks: {min: -3000, max:3000},
                            scaleLabel: {
                                display: true,
                                labelString: 'Horizontal axis '
                            }}
                        ],
                        yAxes: [{ticks: {min: 0, max:3000},
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Vertical axis'
                                }}],
                        },
                        animation: {duration: 0},
                        title: {
                                display: true,
                                text: '          LIDAR',
                                fontColor: "purple",
                                fontSize:"20",
                            },  
                        }
                    });
                    // sleep(2000);
                    setTimeout(get_data_to_visualize_lidar, 1000);
                }
                    
                    
            },
            error: function(error){
                // console.log(error)
                console.log("Error")
                console.log(error)
            }
        });
    }

    function get_data_to_visualize_speed(){
		$.ajax({
            url: "/visualize_speed", 
            type: "POST",
            dataType: "json", 
            cache: false,
            success: function(res){
                if(chart_speed){
                    chart_speed.destroy();
                }
                if(is_visualize_speed){
                    // console.log(res.data)
                    chart_speed = new Chart("speed", {
                    type: "line",
                    data: {
                        labels: res.x_label,
                        datasets: [{
                        borderColor: "green",
                        fill: false,
                        data: res.data,
                        }]
                    },
                    options: {
                        legend: {display: false},
                        scales: {
                        xAxes: [
                            {ticks: {min: -10, max:110},
                            scaleLabel: {
                                display: true,
                                labelString: 'Time (s)'
                            }}
                        ],
                        yAxes: [{ticks: {min: 0, max:60},
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Speed (km/h)'
                                }}],
                        },
                        animation: {duration: 0},
                        title: {
                                display: true,
                                text: '         SPEED',
                                fontColor: "purple",
                                fontSize:"20",
                            },  
                        }
                    });
                    // sleep(2000);
                    setTimeout(get_data_to_visualize_speed, 1000);
                }
                    
                    
            },
            error: function(error){
                // console.log(error)
                console.log("Error - Same")
                console.log(error)
            }
        });
    }

    function get_file_video(){
        let btn_get_file = document.getElementById("btn_get_file");
        is_file_client = !is_file_client;
        if(is_file_client){
            let input_file = document.getElementById("video_file");
            input_file.click();
            btn_get_file.setAttribute("value", "Stop\nFile");
        }else{
            end_video();
        }
    }
    
    $('input[type="file"]').change(function(e){
        let video = document.getElementById("video");

		let file = e.target.files[0];
        let fileName = file.name;
        
        console.log(fileName);
		let blobURL = URL.createObjectURL(file);
        console.log(fileName);
        changeClass(video, "hidden","show");
        
		video.src = blobURL;
    });

    function end_video(){
        let video = document.getElementById("video");
        let btn_get_file = document.getElementById("btn_get_file");

        video.pause();
        video.src = "";
        btn_get_file.setAttribute("value", "File");
        is_file_client = false;
        is_predict_client= false;
        document.getElementById("predict").setAttribute("value","Predict")
        console.log("close");
        changeClass(video, "show", "hidden");
    }

    function send_image(){
		let video = document.getElementById('video');
        
		let canvas = document.getElementById("canvas");
		canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
		let image_data_url = canvas.toDataURL('image/jpeg');
		image_data_url = image_data_url.replace("data:image/jpeg;base64,", "")
		image_data_url = image_data_url.replace("data:image/png;base64,", "")

		var data = {
			'imageBase64': image_data_url,
			"predict": is_predict_client
		}

		host_request = "/predict_client"
		$.ajax({
            url: host_request, 
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json", 
            cache: false,
            contentType: 'application/json', 
            success: function(res){
                let photo = document.getElementById("photo");
                let imageBase64 = res.imageBase64;
                if(imageBase64 == ""){
                    changeClass(photo, "show","hidden")
                    if(is_webcam_client || is_file_client){
                        changeClass(video, "hidden", "show");
                    }
                }else{
                    console.log("ok predict");
                    photo.src = "data:image/png;base64," + imageBase64;
                    changeClass(photo, "hidden","show")
                    changeClass(video, "show", "hidden");
                    // photo.width = res.w;
                    // photo.height = res.h;
                    send_image();
                }
            },
            error: function(error){
                console.log("Error")
            }
            });
	}

    function show_details(){
        $.ajax({
            url: "/get_details", 
            type: "POST",
            dataType: "json", 
            cache: false,
            contentType: 'application/json', 
            success: function(res){
                for(let i in res){
                    for(let j in res[i]){
                        let component = document.getElementById(i+"_"+j);
                        let value = component.innerHTML;
                        let split_value = value.split(" ")
                        component.innerHTML = res[i][j] + " "+split_value[1];

                        if(i == "Battery" && j == "Status"){
                            if(value.trim() != res[i][j]){
                                console.log("VO " + value +" " + res[i][j])
                                let logo = document.getElementById("logo")
                                logo.setAttribute("src","{{ url_for('get_logo') }}"); 
                            }
                            // else{
                                // logo.setAttribute("src",""); 

                            // }

                        }
                    }
                }
                setTimeout(show_details, 1000);
            },
            error: function(error){
                console.log("Error")
            }
            });
    }
</script>
</body>
</html>


