<!-- <header>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>DEMO WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</header> -->
<body onload="on_load();">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8 offset-lg-2">
		  <h2 class="mt-5">MULTITASKING FOR AUTONOMOUS</h2>
		  <!-- <form method="post" action="{{ url_for('tasks') }}"> -->
			<form method="post" action="/requests" >
			<input type="submit" value="Start" name="status" id="status"/>
			<input type="submit" value="Predict" name="predict" id="predict" />
			<input type="file"  id="get_file" />
			
			<input type="button" value="Start Client" name="start_client"  id="start_client" onclick="show_webcam_client()" />
			<input type="button" value="Predict Client" name="predict_client"  id="predict_client" onclick="predict_webcam_client()" />
			<input type="button" value="Start Visualize" name="start_visualize"  id="start_visualize" onclick="visualize()" />
		  </form>
		  <img src="{{ url_for('video_feed') }}"  height="400px" />
		  <video id="video" width="700px" height="400px" autoplay controls ></video>
		  <canvas id="canvas" width="700px" height="400px" style="display: none;"></canvas>
		  <image src="" width="700px" height="400px" id = "photo" style="display: none;"/>
		  <canvas id="myChart"  style="width:500px;max-width:500px;display: none;background: lightgray;"></canvas>
		</div>
	  </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script>
	  var data = '{{ data|tojson }}';
	  data = data.replace(/\s/g, '');
	  data = data.replace(/\\/g, '/');
	  data = JSON.parse(data);
  
	  var localstream;
	  var is_predict_client = false;
	  var is_visualize = false;
	  
  
	  function on_load(){
		  document.getElementById("video").style.display = "none"
		  console.log(data)
  
		  if(data["switch"] == true){
			  document.getElementById("status").setAttribute("value","Stop")
		  }else{
			  document.getElementById("status").setAttribute("value","Start")
		  }
  
		  if(data["predict"] == 1){
			  document.getElementById("predict").setAttribute("value","Predicting...")
		  }else{
			  document.getElementById("predict").setAttribute("value","Predict")
		  }
	  }
  
	  document.getElementById("get_file").onchange = function(event) {
		  let video = document.getElementById("video");
		  let file = event.target.files[0];
		  let blobURL = URL.createObjectURL(file);
		  video.style.display='inline';
		  video.src = blobURL;
	  }
  
	  async function show_webcam_client(){
			  let video = document.getElementById('video');
			  let btn_start_client = document.getElementById("start_client");
			  let v = btn_start_client.getAttribute("value");
			  let canvas = document.getElementById("canvas");
  
			  document.getElementById("photo").style.display="none";
  
			  if(v == "Start Client"){
				  let stream;
				  if(window.outerWidth < window.outerHeight){
					  stream = await navigator.mediaDevices.getUserMedia({ video: {
																				  facingMode: {
																					  exact: "environment",
																				  }
					  }});
				  }else{
					  stream = await navigator.mediaDevices.getUserMedia({ video: {
																			  facingMode: "user"
																		  }});
				  }
				  video.srcObject = stream;
				  localstream = stream;
				  video.setAttribute("style", "display:inline");
				  btn_start_client.setAttribute("value","Stop Client")
			  }else{
				  is_predict_client = false
				  localstream.getTracks()[0].stop();
				  video.pause();
				  video.src = "";
				  btn_start_client.setAttribute("value","Start Client");
				  video.setAttribute("style", "display:none");
				  document.getElementById("predict_client").setAttribute("value", "Predict Client")
  
			  }
		  }
  
	  function predict_webcam_client(){
		  // /////////////
		  if(document.getElementById("start_client").getAttribute("value") != "Start Client" || document.getElementById("video").src.length != 0){
			  let predict_client = document.getElementById("predict_client")
			  if (predict_client.getAttribute("value") == "Predict Client"){
				  predict_client.setAttribute("value","Predicting client...")
				  is_predict_client = true
				  send_image()
			  }else{
				  is_predict_client = false
				  predict_client.setAttribute("value","Predict Client")
			  }
		  }
		  
	  }
  
	  function send_image(){
		  let video = document.getElementById('video');
		  let canvas = document.getElementById("canvas");
		  canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
		  let image_data_url = canvas.toDataURL('image/jpeg');
		  image_data_url = image_data_url.replace("data:image/jpeg;base64,", "")
		  image_data_url = image_data_url.replace("data:image/png;base64,", "")
  
		  var data = {
			  'imageBase64': image_data_url,
			  "predict": is_predict_client
		  }
  
		  host_request = "/predict_client"
		  $.ajax({
				  url: host_request, 
				  type: "POST",
				  data: JSON.stringify(data),
				  dataType: "json", 
				  cache: false,
				  contentType: 'application/json', 
				  success: function(res){
					  let photo = document.getElementById("photo");
					  let imageBase64 = res.imageBase64;
					  if(imageBase64 == "1"){
						  photo.style.display = "none";
					  }else{
						  photo.src = "data:image/png;base64," + imageBase64;
						  photo.style.display = "inline";
						  photo.width = res.w;
						  photo.height = res.h;
						  send_image();
					  }
				  },
				  error: function(error){
					  // console.log(error)
					  console.log("Error")
				  }
				  });
	  }
  
	  
	  var my_chart;
	  function visualize(){
		  let btn_visualize = document.getElementById("start_visualize");
		  let value = btn_visualize.getAttribute("value");
		  
		  if(value == "Start Visualize"){
			  is_visualize = true;
			  document.getElementById("myChart").setAttribute("style", "width:500px;max-width:500px;display: inline;background: lightgray;");
			  btn_visualize.setAttribute("value", "Stop Visualize");
			  get_data_to_visualize();
		  }else{
			  is_visualize = false;
			  document.getElementById("myChart").setAttribute("style", "display: none");
			  btn_visualize.setAttribute("value", "Start Visualize");
			  
		  }
		  
		  
	  }
  
	  function get_data_to_visualize(){
		  $.ajax({
				  url: "/visualize", 
				  type: "POST",
				  dataType: "json", 
				  cache: false,
				  success: function(res){
					  if(my_chart){
						  my_chart.destroy();
					  }
					  if(is_visualize){
						  console.log(res.data)
						  my_chart = new Chart("myChart", {
						  type: "scatter",
						  data: {
							  datasets: [{
							  pointRadius: 4,
							  pointBackgroundColor: "rgb(0,0,255)",
							  data: res.data,
							  }]
						  },
						  options: {
							  legend: {display: false},
							  scales: {
							  xAxes: [{ticks: {min: -10, max:110}}],
							  yAxes: [{ticks: {min: -10, max:110}}],
							  },
							  
						  }
						  });
						  // sleep(2000);
						  setTimeout(get_data_to_visualize, 1000);
					  }
						  
						  
				  },
				  error: function(error){
					  // console.log(error)
					  console.log("Error")
					  console.log(error)
				  }
				  });
	  }
  
	</script>
  </body>
  